<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agregar Equipo</title>
</head>
<body>
<h1>Agregar un nuevo equipo</h1>
<form th:action="@{/equipo/guardar}" th:object="${equipo}" method="post">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" th:field="*{nombre}" required /></br></br>

    <label for="pais">País</label>
    <input type="text" id="pais" th:field="*{pais}" required /></br></br>

    <button type="submit">Guardar</button>
</form>
<a href="/equipo">Volver a la Lista de Equipos</a>
</body>
</html>